.top-bar {
  background-color: black;
  min-height: 50px;
}

.pic-mask {
  background-image: url('https://www.pets4homes.co.uk/images/articles/3047/large/how-to-recognise-taurine-deficiencies-in-kittens-55a154abb4fbc.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  min-height: 250px;
}

.grid-wrap {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.three-col-grid:after {
  display: table;
  clear: both;
  content: '';
}

.shortcut-sqr {
  min-width: 150px;
}

.git-shortcut {
  background-color: red;
}

.sundae-shortcut {
  background-color: blue;
}

.linkedin-shortcut {
  background-color: green;
}

/* Desktop */
@media (min-width: 600px) {
  .top-bar {
    height: 10vh;
  }
  
  .pic-mask {
    height: 50vh;
  }
  
  .shortcut-sqr {
    float: left;
    position: relative;
    margin-right: 5vw;
    margin-left: 5vw;
    width: calc((100% - 10vw * 3) / 3);
    padding-top: calc((100% - 10vw * 3) / 3);
  }
}

/* Mobile */
@media (max-width: 599px) {
  .top-bar {
    height: 8vh;
  }
  
  .pic-mask {
    height: 30vh;
  }
  
  .shortcut-sqr {
    width: 70%;
    padding-top: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
  }
}