.top-div {
	width: 100%;
	height: 100vh;
	background-color: #5fc4b6;
	text-align: center;
}

.portrait {
	width: 25%;
	padding-top: 5%;
	margin: 0 auto;
}


.clip-circle {
	clip-path: circle(15em at center);
	background-color: white;
}