$regular-blue: #5fc4b6;
$red: #E74C3C;
$pink: #ff8a8a;

/* ============= UTIL ============= */

.hidden {
  display: none !important;
}

/* ============= CONTAINERS ============= */

.top-div, .load-div {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
}

.normal-bg {
  background-color: $regular-blue;
}

.red-bg {
  background-color: $red;
}

.pink-bg {
  background-color: $pink;
}

.portrait-wrap {
  margin: 0 auto;
}

.head {
  display: inline-block;
}

/* ============= LOADER ============= */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 6em;
  height: 6em;
}

.lds-ellipsis div {
  position: absolute;
  top: 2.532;
  width: 1.032em;
  height: 1.032em;
  border-radius: 50%;
  // background: #fff;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 0.563em;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 0.563em;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 2.438em;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 4.22em;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1.782em, 0);
  }
}

/* ============= PORTRAITS ============= */

.portrait {
  background-size: 100% 100%;
  height: 100%;
  width: auto;
}

.default-me {
  background-image: url('../images/me-bubble.svg');
}

.winking-me {
  background-image: url('../images/me-winking.svg')
}

.christmas-me {
  background-image: url('../images/me-santa.svg');
}

.clip-circle {
  clip-path: circle(15em at center);
  background-color: white;
}

/* ============= PARTICLE STUFF ============= */

#particles-js canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ============= TEXT ============= */

.main-head-text {
  font-weight: 700;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.main-sub-text, .head-text-div {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.head-text-div {
  margin-top: 2.5vh;
}

.main-sub-text {
  font-weight: 800;
}

.break {
  padding: 0;
  margin: 20px auto;
  border: none;
  text-align: center;
  border-color: white;
  color: white;
}

/* ========================================================= */

/* Desktop */

@media (min-width: 600px) {
  .portrait-wrap {
    max-width: 20em;
    min-width: 15em;
    width: 15em;
    height: 15em;
  }

  .portrait {
    max-width: 100%;
  }

  .break {
    border-top: solid 0.75vh;
    max-width: 12em;
  }

  .head-text {
    display: inline-block;
  }

  .main-sub-text {
    font-size: 1.25em;
    overflow-y: hidden;
    max-height: 2em;
  }
  .main-head-text {
    font-size: 3.25em;
    overflow-y: hidden;
    max-height: 2em;
  }
}

/* ========================================================= */

/* Mobile */

@media (max-width: 599px) {
  .portrait-wrap {
    width: 70vw;
    height: 70vw;
  }
  .portrait {
    width: 100%;
  }
  .break {
    border-top: solid 0.5vh;
    max-width: 50vw;
  }
  .main-sub-text {
    font-size: 4vw;
    //max-width: 80vw;
  }
  .main-head-text {
    font-size: 9.5vw;
  }
}