/* ============= CONTAINERS ============= */
.top-div {
  width: 100vw;
  height: 100vh;
  text-align: center; }

.normal-bg {
  background-color: #5fc4b6; }

.red-bg {
  background-color: #E74C3C; }

.portrait-wrap {
  margin: 0 auto; }

.clip-circle {
  clip-path: circle(15em at center);
  background-color: white; }

.top-div {
  color: white;
  display: table-cell;
  vertical-align: middle; }

.head {
  display: inline-block; }

/* ============= PARTICLE STUFF ============= */
#particles-js canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

/* ============= TEXT ============= */
.main-head-text {
  font-weight: 700;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "sans-serif"; }

.main-sub-text, .head-text-div {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", "sans-serif"; }

.head-text-div {
  margin-top: 2.5vh; }

.main-sub-text {
  font-weight: 800; }

.break {
  padding: 0;
  margin: 15px auto;
  border: none;
  text-align: center;
  border-color: white;
  color: white; }

/* ========================================================= */
/* Desktop */
@media (min-width: 600px) {
  .portrait-wrap {
    max-width: 20em;
    min-width: 15em;
    width: 15em;
    height: 15em; }
  .portrait {
    max-width: 100%; }
  .break {
    border-top: solid 0.75vh;
    max-width: 12em; }
  .head-text {
    display: inline-block; }
  .main-sub-text {
    font-size: 1.25em;
    overflow-y: hidden;
    max-height: 2em; }
  .main-head-text {
    font-size: 3.25em;
    overflow-y: hidden;
    max-height: 2em; } }

/* ========================================================= */
/* Mobile */
@media (max-width: 599px) {
  .portrait-wrap {
    width: 70vw;
    height: 70vw; }
  .portrait {
    width: 100%; }
  .break {
    border-top: solid 0.5vh;
    max-width: 50vw; }
  .main-sub-text {
    font-size: 4vw; }
  .main-head-text {
    font-size: 9.5vw; } }
